$primaryColor: #14617b;
$secondaryColor: #ae554b;
$fontColor: #333;

$defaultFont: 'Roboto', sans-serif;
$lightWeight: 300;
$normalWeight: 500;
$boldWeight: 700;

$menuColor: #f7c6eb;
$gutter: 16px;

$color1: #f8c6c6;
$color2: #f7ebc6;
$color3: #dff7c6;
$color4: #c6f7d2;
$color5: #c6f7f7;
$color6: #c6d2f7;
$color7: #dfc6f7;
$color8: #f7c6eb;



